body {
  font-family: Helvetica;
  width: 100vw;

}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #1C1D8C;
  width: 100vw;
  height: 55vh;
  // border: 1vh solid #1C1D8C;
  padding: 0;
  margin-bottom: 4vh;

}

nav {
  font-family: Chilanka;
  font-size: 3vh;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  color: whitesmoke;
  background-color: #1C1D8C;
}


.contain {
  background-color: #1C1D8C;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.content-contain {
  height: 68vh;
  width: 100vw;
  color: whitesmoke;
  background-color: #1C1D8C;
  margin-top: -15vh;
}

.content {
  min-height: 45vh;
  margin-top: -13vh;
  padding: 5vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-contain {
  height: 20vh;
  width: 40vh;
  margin-top: 8vh;
  margin-right: 5vh;
  margin-left: 5vh;
  background-color: #B2C8EA;
  z-index: 2;
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 2vh;
  box-shadow: 3px 3px 5px grey;
}

.card {
  transition: all;
  transition-duration: 0.3s;
  height: 15vh;
  width: 30vh;
  background-color: #1C1D8C;
  box-shadow: 3px 3px 5px grey;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.card:hover {
  background-color: #FF5335;
  transition: all;
  width: 25vh;
  height: 12vh;
  transition-duration: 0.3s;
  cursor: pointer;
}

.card:active {
  background-color: #F4C2B7;
  transition: all;
  width: 25vh;
  height: 12vh;
  transition-duration: 0.1s;
  cursor: pointer;
}

.button-link {
  font-family: Chilanka;
  font-size: 2em;
  font-weight: 500;
  color: white;
}

.button-link:visited {
  color: whitesmoke;
}

footer {
  height: 7vh;
  background-color: #1C1D8C;
}
// '#F4C2B7',
//   '#B2C8EA',
//   '#1C1D8C',
//   '#FF5335',
//   '#06D6A0'
