body {
  font-family: Helvetica;
  width: 100vw;

}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: whitesmoke;
  width: 100vw;
  height: 85vh;
}

nav {
  height: 7vh;
  width: 100vw;
  color: whitesmoke;
  background-color: #1C1D8C;
}

.paragraph {
  height: 6vh;
  width: 100vw;
  color: whitesmoke;
  background-color: #1C1D8C;
}


