<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <title>React boilerplate</title>
  </head>
  <body>
    <canvas></canvas>
      <div class="content">
        <div class="card-contain">
          <div class="card">
            <a href="https://sinninga.github.io/first-portfolio/" class='button-link'>PR0JECTS</a>
          </div>
        </div>
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>C0NTACT</a>
          </div>
        </div>
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>AB0UT</a>
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="project-card">
          <img src="/assets/photos/react.png" alt="" class="proj-pic">
          <div>
            <h3>Project One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae deleniti eum nam rerum, odit eos labore unde, numquam eius repudiandae enim fuga voluptas aut, maiores omnis nulla harum adipisci.</p>
            <a href="#" class="btn">Check It Out</a>
          </div>
        </div>
        <div class="project-card">
          <img src="/assets/photos/js.png" alt="" class="proj-pic">
          <div>
            <h3>Project Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae deleniti eum nam rerum, odit eos labore unde, numquam eius repudiandae enim fuga voluptas aut, maiores omnis nulla harum adipisci.</p>
            <a href="#" class="btn">Check It Out</a>
          </div>
        </div>
        <div class="project-card">
          <img src="/assets/photos/redux.png" alt="" class="proj-pic">
          <div>
            <h3>Project Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae deleniti eum nam rerum, odit eos labore unde, numquam eius repudiandae enim fuga voluptas aut, maiores omnis nulla harum adipisci.</p>
            <a href="#" class="btn">Check It Out</a>
          </div>
        </div>
      </div>
      <footer></footer>
  </body>
</html>
