<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <title>React boilerplate</title>
  </head>
  <body>
    <canvas></canvas>
      <div class="content">
        <div class="card-contain">
          <div class="card">
            <a href="https://sinninga.github.io/first-portfolio/" class='button-link'>PR0JECTS</a>
          </div>
        </div>
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>C0NTACT</a>
          </div>
        </div>
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>AB0UT</a>
          </div>
        </div>
      </div>
      <footer></footer>
  </body>
</html>
