<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <title>React boilerplate</title>
  </head>
  <body>
    <nav></nav>
    <div class='contain'>
      <canvas></canvas>
    </div>
    <div class="content-contain">
      <div class="content">
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>PR0JECTS</a>
          </div>
        </div>
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>C0NTACT</a>
          </div>
        </div>
        <div class="card-contain">
          <div class="card">
            <a href="#" class='button-link'>AB0UT</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="root">
    </div> -->
  </body>
</html>
